.vaaleaVihrea {
	-fx-background-color: #dbf5dc;
}

.logoKuva {
	 -fx-background-image: url("kuvat/logo.png");
	 -fx-background-repeat: no-repeat;
	 -fx-background-size: cover;
	 -fx-background-size: 45%;
	 -fx-background-position: center;
}

.virhe {
   /* @SuppressWarning */
   /*-fx-background-color: red; */
   -fx-text-fill: red;
 }
 
 .normaali {
 	/*@SuppressWarning */
 	-fx-background-color: white;
 }
